<!--Header-->
<%- include ('../../partials/header.ejs') %>

<!--Navbar-->
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <br>
    <div class="card-header">
        <h2 class="text-center text-uppercase">Edit categories</h2>
    </div>
    <div class="card-body">
        <form method="GET" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Title of category" value="<%= category.title %>">
            <br>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
    </div>
</div>

<!--Footer-->
<%- include ('../../partials/footer.ejs') %>